celery==5.6.0
facenet_pytorch==2.6.0
fastapi==0.124.0
Flask==3.1.2
matplotlib==3.10.7
numpy==2.3.5
openai==2.9.0
opencv_contrib_python==4.12.0.88
opencv_python==4.12.0.88
opencv_python_headless==4.12.0.88
Pillow==12.0.0
pydantic==2.12.5
safetensors==0.7.0
scikit_learn==1.7.2
seaborn==0.13.2
tensorflow==2.19.0
torch==2.9.0+cu126
torchvision==0.24.0+cu126
tqdm==4.67.1
transformers==4.57.2
Werkzeug==3.1.4
yt_dlp==2025.12.8
